<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">
  <title>UPS</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form method="post" th:action="@{/logout}">
  <input type="submit" value="Sign Out"/>
</form>

<!--admin-->
<div sec:authorize="hasAuthority('admin')">
  <h3>Admin Panel</h3>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/lots" role="button">Lot/Zone/Space
    Operations</a>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/assignpermit" role="button">Assign
    A Permit</a>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/issue" role="button">Issue
    A Citation</a>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/checkVP" role="button">Check
    Visitor Parking</a>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/checkNVP" role="button">Check
    NonVisitor Parking</a>

</div>

<!--permit-->
<p th:marginheight="30px" th:marginwidth="30px">
<div th:if="${permit}!=null">
  <h3>Permit Info</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Permit ID</th>
      <th scope="col">Univ ID</th>
      <th scope="col">Space Type</th>
      <th scope="col">Car Number</th>
      <th scope="col">Year</th>
      <th scope="col">Car Model</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Color</th>
      <th scope="col">License Plate</th>

      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">Car Number 2
      </th>
      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">Year 2
      </th>
      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">Car Model 2
      </th>
      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">Manufacturer 2
      </th>
      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">Color 2
      </th>
      <th scope="col" sec:authorize="hasAuthority('employee')"
          th:if="${permit.getVehicle2()!=null}">License Plate 2
      </th>


    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" th:text="${permit.getIdentifier()}"></th>
      <td th:text="${permit.getUnivid()}"/>
      <td th:text="${permit.getSpaceType()}"/>
      <td th:text="${permit.getCarNum()}"/>
      <td th:text="${permit.getVehicle().getYear()}"/>
      <td th:text="${permit.getVehicle().getModel()}"/>
      <td th:text="${permit.getVehicle().getManufacturer()}"/>
      <td th:text="${permit.getVehicle().getColor()}"/>
      <td th:text="${permit.getVehicle().getLicensePlate()}"/>

      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getCarNum2()}"/>
      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getVehicle2().getYear()}"/>
      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getVehicle2().getModel()}"/>
      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getVehicle2().getManufacturer()}"/>
      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getVehicle2().getColor()}"/>
      <td sec:authorize="hasAuthority('employee')" th:if="${permit.getVehicle2()!=null}"
          th:text="${permit.getVehicle2().getLicensePlate()}"/>
    </tr>
    </tbody>
  </table>
</div>

<div sec:authorize="hasAuthority('employee')" th:if="${permit}!=null">
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" role="button"
     th:href="@{'/changevehicle/1/' + ${permit.getIdentifier()} }">Change Vehicle 1</a>
  <a aria-pressed="true" class="btn btn-secondary btn-lg active" role="button"
     th:href="@{'/changevehicle/2/' + ${permit.getIdentifier()} }">Change Vehicle 2</a>
</div>

<!--citation -->

<div th:if="${ci}!=null">
  <h3>Citation Info</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Citation ID</th>
      <th scope="col">Car Number</th>
      <th scope="col">Car Model</th>
      <th scope="col">Car Color</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${ci}">
      <th scope="row" th:text="${c.getId()}"></th>
      <td th:text="${c.getCarNum()}"/>
      <td th:text="${c.getModel()}"/>
      <td th:text="${c.getColor()}"/>
      <td th:text="${c.getDate()}"/>
      <td th:text="${c.getType()}"/>
      <td>
        <a aria-pressed="true" class="btn btn-secondary btn-lg active" role="button"
           th:href="@{'/pay/' + ${c.getId()} }">Pay</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</p>
</body>
</html>