<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">

  <!--  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
  <!--  <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>-->
  <title>UPS</title>
</head>
<body>
<div>
  <h3>Issue A Citation</h3>
  <form class="form-horizontal" method="get" style="margin: 30px"
        th:action="@{/issueform}">
    <div class="form-group">
      <label for="carNum">Car Number:</label>
      <input class="form-control" id="carNum" name="carNum" placeholder="Enter Car Number"
             type="text">
    </div>
    <div class="form-group">
      <label for="lotName">Lot Name:</label>
      <input class="form-control" id="lotName" name="lotName" placeholder="Enter Lot Name"
             type="text">
    </div>
    <div class="form-group">
      <label for="citationType">Citation Type:</label>
      <select class="form-control form-control-lg" id="citationType" name="citationType">
        <option th:each="state : ${T(com.csc540.ups.enums.CitationType).values()}"
                th:text="${state}"
                th:value="${state}"
        >
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Issue</button>
  </form>
</div>
</body>
</html>