<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">

  <title>Lot List</title>
</head>
<body>

<a aria-pressed="true" class="btn btn-secondary btn-lg active" href="/addlot" role="button">Add a
  Lot</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Lot Name</th>
    <th scope="col">Lot Address</th>
    <th scope="col">Zone List</th>
    <th scope="col">Assign Zone</th>
    <th scope="col">Space Details</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${list}">
    <th scope="row" th:text="${p.getName()}"></th>
    <td th:text="${p.getAddress()}"></td>
    <td th:text="${p.getZoneListString()}"/>
    <td>
      <a aria-pressed="true" class="btn btn-secondary btn-lg active" role="button"
         th:href="@{'/assignzone/' + ${p.getId()}}">Assign</a>
    </td>
    <td>
      <a aria-pressed="true" class="btn btn-secondary btn-lg active" role="button"
         th:href="@{'/spaces/' + ${p.getId()}}">details</a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>