<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csc540.ups.dao.UserDao">

  <insert id="insert" parameterType="com.csc540.ups.entity.User" useGeneratedKeys="true">
    insert into upsdb.upsuser (id, username, password, role)
    values (#{id}, #{username}, #{password} , #{role})
  </insert>

  <resultMap id="userResult" type="com.csc540.ups.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id"></id>
    <result property="username" column="username" jdbcType="VARCHAR"></result>
    <result property="password" column="password" jdbcType="VARCHAR"></result>
    <result property="role" column="role" jdbcType="VARCHAR"></result>
  </resultMap>

  <select id="login" resultMap="userResult">
    select id, username, password, role
    from upsuser
    where username=#{username}
  </select>


  <!--  <select id="login" resultType="com.csc540.ups.entity.User">-->
  <!--    select id, username, passwor, role-->
  <!--    from upsuser-->
  <!--    where username=#{username}-->
  <!--  </select>-->

</mapper>