<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csc540.ups.dao.VpermitDao">
  <insert id="insert" keyColumn="uuid" keyProperty="uuid"
    parameterType="com.csc540.ups.entity.VisitorPermit" useGeneratedKeys="true">
    insert into upsdb.vpermit (uuid, spaceNum, startTime, lotID,
                               duration, permitType, identifier,
                               spaceType, carNum, startDate, phone)
    values (#{uuid,jdbcType=VARCHAR}, #{spaceNum,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP},
            #{lotID,jdbcType=VARCHAR},
            #{duration,jdbcType=INTEGER},
            #{permitType,javaType=com.csc540.ups.enums.PermitType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{identifier,jdbcType=VARCHAR},
            #{spaceType,javaType=com.csc540.ups.enums.SpaceType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{carNum,jdbcType=VARCHAR},
            #{startDate,jdbcType=TIMESTAMP},
            #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="uuid" keyProperty="uuid"
    parameterType="com.csc540.ups.entity.VisitorPermit" useGeneratedKeys="true">
    insert into upsdb.vpermit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="spaceNum != null">
        spaceNum,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="lotID != null">
        lotID,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="permitType != null">
        permitType,
      </if>
      <if test="identifier != null">
        identifier,
      </if>
      <if test="spaceType != null">
        spaceType,
      </if>
      <if test="carNum != null">
        carNum,
      </if>
      <if test="startDate != null">
        startDate,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="spaceNum != null">
        #{spaceNum,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lotID != null">
        #{lotID,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="permitType != null">
        #{permitType,javaType=com.csc540.ups.enums.PermitType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="spaceType != null">
        #{spaceType,javaType=com.csc540.ups.enums.SpaceType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSpaceNum">
    update upsdb.vpermit
    set spaceNum= -1
    where identifier = #{upsdb.vpermit}
  </update>
  <resultMap id="BaseResultMap" type="com.csc540.ups.entity.VisitorPermit">
    <result column="spaceNum" jdbcType="INTEGER" property="spaceNum"/>
    <result column="startTime" jdbcType="TIMESTAMP" property="startTime"/>
    <result column="lotID" jdbcType="VARCHAR" property="lotID"/>
    <result column="duration" jdbcType="INTEGER" property="duration"/>
    <result column="permitType" javaType="com.csc540.ups.enums.PermitType" property="permitType"/>
    <result column="identifier" jdbcType="VARCHAR" property="identifier"/>
    <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
    <result column="spaceType" javaType="com.csc540.ups.enums.SpaceType" property="spaceType"/>
    <result column="carNum" jdbcType="VARCHAR" property="carNum"/>
    <result column="startDate" jdbcType="TIMESTAMP" property="startDate"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
  </resultMap>
  <select id="select" resultType="com.csc540.ups.entity.VisitorPermit">
    select *
    from upsdb.vpermit
    where identifier = #{identifier}
  </select>
  <select id="selectByCarNum" resultType="com.csc540.ups.entity.VisitorPermit">
    select *
    from upsdb.vpermit
    where carNum = #{carNum}
  </select>
</mapper>