<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csc540.ups.dao.ZoneDao">

  <delete id="remove">
    delete
    from upsdb.zone
    where ID = #{id}
  </delete>

  <insert id="insert">
    insert into upsdb.zone (id, name, spaceNum, startNum, lotID)
    values (#{id}, #{name}, #{spaceNum}, #{startNum}, #{lotID})
  </insert>

  <resultMap id="zoneResult" type="com.csc540.ups.entity.Zone">

    <id column="id" jdbcType="VARCHAR" property="uuid"></id>
    <result column="name" jdbcType="VARCHAR" property="name"></result>

    <result column="spaceNum" jdbcType="INTEGER" property="spaceNum"></result>
    <result column="startNum" jdbcType="INTEGER" property="startNum"></result>
    <result column="lotID" jdbcType="VARCHAR" property="lotID"/>
  </resultMap>

  <select id="selectAllByLotID" resultMap="zoneResult">
    select *
    from upsdb.zone
    where lotID = #{lotID}
  </select>

  <select id="select" resultMap="zoneResult">
    select *
    from upsdb.zone
    where ID = #{id}
  </select>

</mapper>